apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: teste-ingress
  namespace: teste
spec:
  rules:
  - host: teste.info
    http:
      paths:
      - backend:
          service:
            name: teste-service
            port:
              number: 8080
        path: /
        pathType: Prefix
