version: '3.7'

secrets:
  mysql_root_password:
    external: true
  mysql_password:
    external: true

networks:
   db_private:
     driver: overlay

services:
   db:
     image: mysql:latest
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     networks:
       - db_private
     secrets:
       - source: mysql_root_password
         target: mysql_root_password
       - source: mysql_password
         target: mysql_password
     environment:
       MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wordpress
       MYSQL_PASSWORD_FILE: /run/secrets/mysql_password

   wordpress:
     depends_on:
       - db
     image: wordpress:latest
     volumes:
       - wp_data:/var/www/html
     networks:
       - db_private
     secrets:
       - source: mysql_password
         target: wp_db_password
         mode: 0400
     ports:
       - "10000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_NAME: wordpress
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_PASSWORD_FILE: /run/secrets/wp_db_password
volumes:
    db_data:
    wp_data:
