---
alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ["..."]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: "null"
      routes:
        # - match:
        #     alertname: Watchdog
        #   receiver: "null"
        #   continue: true
        # - match:
        #     severity: warning
        #   receiver: "MySlackChannel"
        #   continue: true
        # - match:
        #     severity: critical
        #   receiver: "MySlackChannel"
        #   continue: true
        - match_re:
            severity: "^(info|warning|critical)$"
          receiver: "MySlackChannel"
          continue: true
    receivers:
      - name: "null"
      - name: "MySlackChannel"
        slack_configs:
          - api_url: "https://hooks.slack.com/services/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"
            channel: "#prometheus-notifications"
            send_resolved: true
    templates:
      - /etc/alertmanager/config/*.tmpl
